<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Disease Report API</title>
        <link rel='stylesheet' href="{{url_for('static', filename='css/page.css')}}">
    </head>
    <body>
        <div>
            <h1> Disease Report API </h1>
        </div>
        <div class="body">
            <h2>Endpoints</h2>
            <div>
                <h3>GET</h3>
                <div class="endpoint">
                    <h4>/getReport?id={id}&date={date}&country={country}&cases={cases}&disease={disease}</h4>
                    <p>
                        This endpoint retrieves disease reports from within the database that will correspond to the queries.
                        Each query is optional and act as filters when searching for disease reports. Parsing no parameters will return all disease reports.
                    </p>
                    <div>
                        <p class="example">Example</p>
                        <p>Query: /getReport?country=Australia&disease=coronavirus</p>
                        <p>Return:</p>
                        <p> [{"id": 1, "date": "2021-2-1", "country": "Australia", "cases": 5, "disease": "coronavirus"}, <br>
                            {"id": 2, "date": "2021-2-24", "country": "Australia", "cases": 1, "disease": "coronavirus"}]</p>
                    </div>
                </div>
            </div>
            <div>
                <h3>PUT</h3>
                <div class="endpoint">
                    <h4>/addReport</h4>
                    <p>This endpoint adds a disease report into the database. 
                       A corresponding JSON file must be passed in which it will be added to the database.
                    </p>
                    <div>
                        <p class="example">Example</p>
                        <p>Query: /addReport {"id": 1, "date": "2021-2-1", "country": "Australia", "cases": 5, "disease": "coronavirus"}</p>
                        <p>Return:</p>
                        <p> 400 OK</p>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>