html {
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

h2 {
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 40px;
    border-bottom-style: solid;
    border-color: #37BCFF; 
}

h3 {
    padding-left: 30px;
    border-bottom-style: solid;
    border-color: #FFA219;
    font-size: 35px;
}

h4 {
    font-size: 27px;
}

body {
    padding: 20px;
}

.param {
    font-weight: bold
}

.body {
    width: 60%;
    margin: auto;
}

.endpoint {
    padding-left: 15px;
    border-style: solid;
    border-color: #37BCFF;
    border-radius: 20px;
}

.example {
    font-size: 20px;
    font-weight: bold;
}