@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

:root {
    --lightBrown: #FED18C;
    --regBlue: #32A6C3;
    --lightBlue: #ADEBFF;
    --lightGrey: #6A6A6A;
    --darkBlue: #095256;
    --hoverButton: #0d7a80;
    --dropShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
    all: unset;
    background-color: var(--darkBlue);
    color: white;
    border-radius: 0.75em;
    padding-inline: 2em;
    padding-block: 0.25em;
    font-family: 'Nunito Sans', sans-serif;
    border-color: var(--darkBlue);
    box-shadow: var(--dropShadow);
    margin-block: 1em;
    cursor: pointer;
}

.button:active, .button:hover {
    background-color: var(--hoverButton);
}

input {
    background-color: white;
    border-radius: 0.3rem;
    border-style: none;
    padding: 0.3rem;
    font-family: 'Nunito Sans', sans-serif;
    width: clamp(15em, 20%, 20%);
}

.gradient-background {
    height: 100vh;
    background-image: linear-gradient(to bottom, white, var(--regBlue))
}



