
.page {
    height: 100vh;
}

.login-centre {
    width: clamp(20%, 17rem, 17rem);
}

.flex-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white
}

.login {
    width: 100%;
}