
nav li {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-decoration: none;
    margin-bottom: 2em;
    margin-left: 1em;
    opacity: 0;
    transition: opacity 75ms ease-in-out;
}

nav {
    position: absolute;
    text-align: left;
    left: 0;
    top: 0%;
    background-color: var(--regBlue);
    height: 100vh;
    width: 13em;
    box-shadow: var(--dropShadow);
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

nav ul {
    margin: 2em;
    padding: 0;
    list-style: none;
}

.sidebar {
    background-color: var(--regBlue);
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 3em;
    align-items: flex-end;
    padding-block: 0.5em;
    box-shadow: var(--dropShadow);
    z-index: 99;
}

.sidebar-svg {
    height: 1.25em;
    width: 1.25em;
    fill: white;
    margin-right: 2em;
    vertical-align: middle;
}

.sidebar-profile {
    margin-block: 4em;
    display: flex;
}

.profile-container {
    margin: 0;
}

.sidebar-profile-svg {
    height: 4rem;
    width: 4rem;
    fill: var(--lightGrey);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ .nav-toggle-label span {
    visibility: hidden;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
    transform: rotate(41deg);
    visibility: visible;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
    transform: rotate(-41deg);
    visibility: visible;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    width: fit-content;
    display: flex;
    padding: 1em;
    align-items: flex-end;
    cursor: pointer;
    margin-left: 0.5em;
    z-index: 99;
    transition: all 2500ms ease-in-out
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.25em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
    transition: all 250ms ease-in-out
}

.nav-toggle-label span::before {
    bottom: 7px;
    transform-origin: top left;
    transform: rotate(0deg)
}

.nav-toggle-label span::after {
    top: 7px;
    transform-origin: bottom left;
    transform: rotate(0deg)
}

.sidebar-name, .sidebar-group {
    margin-left: 1rem;
    margin-block: 0;
    color: white;
}

.sidebar-group {
    font-size: 0.777rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebar-input {
    width: 100%;
}

.sidebar-link {
    display: flex;
}
